/*GLOBALS*/
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext);
/*GLOBALS*/

/*INDEX*/

html, main{
    width: 100%;
    height: 100%;
    font-family: 'Libre Baskerville', serif;}

#header{
    font-family: cinzel_decorativebold;
    font-weight: bold;

    padding-top: 10pt;
    padding-bottom: 10pt;
    background-image: linear-gradient(0deg, royalblue 2%, indianred 4%, whitesmoke 7%);
}

#footer{
    font-family: bitterbold;
    background-image: linear-gradient(-15deg, royalblue 3%, indianred 6%, white 9%);
}


#header h1{
    font-size: 42px;
    cursor: pointer;
}

#nav{
    color: whitesmoke;
}

#navBar ul{
    width: 100%;
    text-align: center;
}

#navBar ul li{
    transition: all 400ms;
    cursor: pointer;
}

#navBar ul li:hover{
    background-color: ghostwhite;
}

#status{
    text-align: center;
}

.aviso{/*TITULOS SOUNDCLOUD*/
    /*margin-bottom: 8pt;*/
    padding-top: 6pt;
    padding-bottom: 6pt;

    text-align: center;

    background: linear-gradient(to right, royalblue 2%, orangered 4%, #fafafa 7%);;
    box-shadow: 2px 3px 2px 1px lightgray;
    border-radius: 8px;

    z-index: 1;
}
/*INDEX*/

/* CHAT */

.occult{
    display: none;
    margin-top: -25px;
}

.chat_wrapper {
    position: fixed;
    top: 100%;
    margin-top: -225px;

    width: 20%;
    background: #CCCCCC;
    border: 1px solid #999999;
    padding: 1px;
    font: 12px 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.chat_wrapper .message_box {
    background: #FFFFFF;
    height: 180px;
    overflow: auto;
    padding-left: 3px;
    padding-top: 3px;
    border: 1px solid #999999;
}
.chat_wrapper .panel input{
    padding: 2px 2px 2px 2px;
    width: 100%;
}
.chat_controls{
    text-align: right;
    padding: 3px;
}
.system_msg{color: #BDBDBD;font-style: italic; font-family: monospace;}
.user_name{font-weight:bold; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.user_message{color: #88B6E0;}
/* CHAT */

/*LOGIN*/
#loginTitle{
    text-align: center;
    margin-top: 30pt;
    margin-bottom: 30pt;
}

.slogan{
    font-family: alex_brushregular;
    font-size: x-large;
    padding-left: 10pt;
}

label{
    text-align: left;
}

#btnEnter, #btnRegis{
    position: relative;

    width: 146px;
    left: 50%;
    margin-left: -73px;
}

#auxh4{ /*NO TIENE CUENTA?*/
    text-align: center;
    margin-top: 17pt;
    margin-bottom: 17pt;
}

footer{
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: -39px;
}

.loginSide{
    font-family: cinzel_decorativeregular/*, Helvetica, Arial, Times, sans-serif*/;
    text-align: left;
}

/*LOGIN*/