/*GLOBALS*/

/*GLOBALS*/

/*INDEX*/
#header{
    font-family: bitterbold;
    font-weight: bold;
}

#header h1{
    font-size: 36px;
}

#nav{
    color: whitesmoke;
}

#navBar ul{
    width: 100%;
    text-align: center;
}

#navBar ul li{
    transition: all 400ms;
    cursor: pointer;
}

#navBar ul li:hover{
    background-color: ghostwhite;
}
/*INDEX*/

/* CHAT */
.chat_wrapper {
    position: fixed;
    top: 100%;
    margin-top: -225px;

    width: 220px;
    background: #CCCCCC;
    border: 1px solid #999999;
    padding: 1px;
    font: 12px 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.chat_wrapper .message_box {
    background: #FFFFFF;
    height: 180px;
    overflow: auto;
    padding-left: 3px;
    padding-top: 3px;
    border: 1px solid #999999;
}
.chat_wrapper .panel input{
    padding: 2px 2px 2px 2px;
    width: 100%;
}
.chat_controls{
    text-align: right;
    padding: 3px;
}
.system_msg{color: #BDBDBD;font-style: italic; font-family: monospace;}
.user_name{font-weight:bold; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.user_message{color: #88B6E0;}
/* CHAT */

/*LOGIN*/
#loginTitle{
    text-align: center;
    margin-top: 30pt;
    margin-bottom: 30pt;
}

label{
    text-align: left;
}

#btnEnter, #btnRegis{

}

#auxh4{ /*NO TIENE CUENTA?*/
    text-align: center;
    margin-top: 17pt;
    margin-bottom: 17pt;
}

footer{
    position: absolute;
    top: 92%;
}
/*LOGIN*/