<div class="player-container">
    <div class="player-wrap">
        <div class="play-pause"></div>
        <section class="song-meta">
            <div class="artist">Magna Radio</div>
            <div class="song">VIVO</div>
            <div class="timeline"></div>
            <progress class="pcast-progress" value="0"></progress>
            <span class="pcast-currenttime pcast-time">0:00</span>
        </section>
        <audio id="main-audio" preload="metadata" width="100%" src="http://127.0.0.1:8000/magna">
        </audio>
    </div>
</div>

